* {
    padding: 0;
    margin: 0
}

/* General */
header {
    height: 70vh;
    width: 100vw;
    background-color: black;
    position: relative;
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--white);
}

/* Reuseable */
.delivering-heading {
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
}
.team-list {
    list-style: none;
}
.team-list li {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
}
.team-list li::before {
    content: '•';
    font-size: 2rem;
    color: var(--yellow);
    font-weight: 600;
    display: inline-block;
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .delivering-heading {
        font-size: 2rem;
    }
}